/* Reset default margin and padding */

body, html {
    height: 100%;
    margin: 0;
    font-family: Calibri, Arial, sans-serif;
}

.ask-question-button {
    color: white;
    padding: 2%;
    margin: 2%;
    border: 0;
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0.1, 0.1, 0.1, 0.2);
    border-radius: 8px;
}

.ask-question-button:hover {
    background-color: #83beff;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0.1, 0.1, 0.1, 0.2);
    border-radius: 8px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.sort-button {
    margin: 0;
    padding: 2%;
    border: 2px #333333;
    background-color: #f1f1f1;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sort-button:hover {
    background-color: #ddd;
}

.sorting-buttons {
    width: 30%;
}