#newQuestionForm {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0.1, 0.1, 0.1, 0.2);
}

#newQuestionForm label {
  margin-bottom: 8px;
}

#newQuestionForm input[type="text"],
#newQuestionForm textarea {
  width: 95% !important;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.mandatory-text {
  text-align: right;
  font-size: 12px;
  color: #FF0000;
  margin-top: 10px;
}

::placeholder {
  font-family: sans-serif;
  font-size: 12px;
  opacity: 0.7;
}

.button-container {
  margin-top: 20px;
}

.submit-button {
  background-color: dodgerblue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.submit-button:hover {
  background-color: #83beff;
}

.cancel-button {
  background-color: dodgerblue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cancel-button:hover {
  background-color: #83beff;
}